# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ENV/
env/
myenv/
*.env
*.venv
.Python

# Build & packaging
build/
dist/
pip-wheel-metadata/

# Django
*.log
db.sqlite3
media/
staticfiles/

# IDEs & tools
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

